<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465767958053-rk0hll2d3e219asq9210gg72tu7jdaji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465767958053-rk0hll2d3e219asq9210gg72tu7jdaji</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465767958053-7md9onr7t23i3f6097olh8r48odep7h9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALBX04oOQY6jfi4pO9y7rm6ao7sMXPJuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>465767958053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.firelogin.yh</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-login-ecfc1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-login-ecfc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465767958053:ios:3e397dc6cffb819aa721cc</string>
</dict>
</plist>